* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: red;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer {
  left: 0;
  bottom: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    gap: 40px;
}

.instructions {
    position: relative;
    background-color: black;
    padding: 10px;
    width: 400px;
    height: 450px;
}

.stats {
    position: relative;
    background-color: black;
    padding: 10px;
    width: 400px;
    height: 450px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 20px;
    width: 900px;
    height: 500px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
}

.card {
    background-color: white;
    height: 100px;
    width: 75px;
}

.countdown-timer {
    text-align: center;
}

#countdown {
    font-size:50px;
    background-color: black;
    padding: 0px;
}

.modal-body, .modal-title {
    color: black;
    background-color: rgb(255, 255, 255);
}